# Data Types and Structures

# Data Types and Structures Questions




1. What are data structures, and why are they important?

  - Data structures are ways of organizing and storing data to enable efficient access and modification.
    They are crucial because they allow programs to process data more effectively, which enhances performance and maintainability.

2. Explain the difference between mutable and immutable data types with examples?

  - Mutable: Can be changed after creation.
    Example: list, dict, set
  - Immutable: Cannot be changed after creation.
    Example: int, str, tuple

3. What are the main differences between lists and tuples in Python?

  - Lists are mutable, can be changed.

  - Tuples are immutable, cannot be changed.

  - Tuples are usually faster and used when data should not change.

4. Describe how dictionaries store data?
  - Dictionaries store data as key-value pairs using a hash table under the hood, allowing fast lookup by keys.

5. Why might you use a set instead of a list in Python?

  - Sets automatically remove duplicates and offer faster membership testing than lists.

6. What is a string in Python, and how is it different from a list?
  - A string is an immutable sequence of characters. A list is a mutable sequence of elements (can be any data type).

7. How do tuples ensure data integrity in Python?
  - Tuples are immutable, meaning their contents cannot be changed. This ensures that once created, their data stays constant.

8. What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table maps keys to values using a hash function. Python dictionaries use hash tables internally for fast data retrieval.

9. Can lists contain different data types in Python?
  - Yes, Python lists can hold elements of mixed data types, such as int, str, list, etc.

10. Explain why strings are immutable in Python?
  - Immutability of strings improves performance, security, and allows strings to be hashable, enabling their use as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries allow constant-time lookup by key, ideal for tasks needing quick access to data by identifiers (like user IDs).

12. Describe a scenario where using a tuple would be preferable over a list?
  - Use a tuple when the data should not change, such as coordinates (x, y) or fixed configuration settings.

13. How do sets handle duplicate values in Python?
  - Sets automatically eliminate duplicates.
14. How does the “in” keyword work differently for lists and dictionaries?
  - In a list, it checks for values.
    3 in [1, 2, 3] → True

  - In a dictionary, it checks for keys.
   'name' in {'name': 'Alex'} → True
15. Can you modify the elements of a tuple? Explain why or why not?
  - No, tuples are immutable. Once created, their elements cannot be changed. This is by design for data safety and consistency.

16. What is a nested dictionary, and give an example of its use case?
  - A nested dictionary is a dictionary within another dictionary.
  - Example: Storing student grades:
  - grades = {'Alice': {'Math': 90, 'Science': 85}}

17. Describe the time complexity of accessing elements in a dictionary?
  - Accessing an element by key is O(1) on average due to the hash table structure.

18. In what situations are lists preferred over dictionaries?
  - Lists are preferred when:

    - Order matters.

    - You need to store sequences without key-value pairing.

  - Simple iteration or indexing is needed.


19. Why are dictionaries considered unordered, and how does that affect data retrieval?
  - Prior to Python 3.7, dictionaries didn't maintain insertion order. Since 3.7, they do preserve order, but they're still conceptually unordered, meaning retrieval is by key, not by position/index.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - List: Retrieve by index (e.g., my_list[0]).

  - Dictionary: Retrieve by key (e.g., my_dict['name']).

# Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it?

name = "Talib"
print(name)

Talib

In [5]:
# 2. Write a code to find the length of the string "Hello World"

print(len("Hello World"))

11

In [7]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

print("Python Programming"[0:3])

Pyt

In [9]:
# 4. Write a code to convert the string "hello" to uppercase?

print("hello".upper())

HELLO

In [11]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"?

a = "I like apple"
print(a.replace("apple", "orange"))

I like orange

In [12]:
# 6.Write a code to create a list with numbers 1 to 5 and print it?

list = [1, 2, 3, 4, 5]
print(list)

[1, 2, 3, 4, 5]

In [14]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

list = [1, 2, 3, 4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [15]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [17]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [18]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].

list = [10, 20, 30, 40, 50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [19]:
# 11.  Write a code to create a tuple with the elements 100, 200, 300 and print it.

tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

In [20]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

tuple = ('red', 'green', 'blue', 'yellow')
print(tuple[-2])

blue

In [21]:
# 13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

number = (10, 20, 5, 15)
print(min(number))

5

In [23]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

janwar = ('dog', 'cat', 'rabbit')
print(janwar.index("cat"))

1

In [24]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'kiwi')
print("kiwi" in fruits)

True

In [25]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

set = {'a', 'b', 'c'}
print(set)

{'a', 'b', 'c'}

In [27]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [28]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [29]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [30]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

print(set1.intersection(set2))

{3}

In [31]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

a = {"name": "Alice", "age": 25, "city": "Paris"}
print(a)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

In [32]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

d = {'name': 'John', 'age': 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [33]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

b = {'name': 'Alice', 'age': 30}
print(b["name"])

Alice

In [34]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

b = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del b["age"]
print(b)

{'name': 'Bob', 'city': 'New York'}

In [35]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

d = {'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [37]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

list = [1, 2, 3]
tuple = (4, 5, 6)
dictionary = {"x": 10, "y": 20}
print(list,tuple,dictionary)

[1, 2, 3] (4, 5, 6) {'x': 10, 'y': 20}

In [39]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)


import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[31, 43, 45, 46, 71]

In [40]:
 # 28. Write a code to create a list with strings and print the element at the third index.

 words = ["alpha", "beta", "gamma", "delta", "epsilon"]
print(words[3])

delta

In [43]:
# 29. Write a code to combine two dictionaries into one and print the result.

dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [45]:
# 30. Write a code to convert a list of strings into a set.


str_list = ["apple", "banana", "cherry", "apple"]
print(set(str_list))

TypeError: 'set' object is not callable